@charset "UTF-8";
/* npm run watch-css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;800&display=swap");
/*Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Sen', sans-serif;
  background: linear-gradient(to right, #00b4db, #0083b0); }

/*Nav*/
.navbar__collapse {
  font-size: 2rem;
  display: flex;
  justify-content: end;
  text-align: right;
  margin: 1rem;
  color: #fff; }

.navbar__nav a {
  color: #fff; }

.navbar__toggler {
  border-color: #fff; }
  .navbar__toggler--icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.logo__Nav {
  width: 140px;
  height: 140px; }

/*Index*/
.container__mainIndex {
  text-align: center; }
  .container__mainIndex h1 {
    font-size: 4rem;
    margin-top: 5rem;
    color: #fff; }
  .container__mainIndex p {
    padding-top: 2rem;
    color: #fff;
    font-size: 2rem; }

.mainIndex__separador {
  height: 0.5rem;
  max-width: 20rem;
  margin: 2rem auto;
  margin-top: 5rem;
  background-color: #fff; }

.container__sectionIndex {
  margin-top: 5rem; }
  .container__sectionIndex p {
    font-size: 2rem;
    color: #fff; }

.sectionIndex__button {
  text-align: center; }
  .sectionIndex__button a {
    margin: 2rem;
    font-size: 2rem; }

.container__sectionCards {
  margin-top: 10rem; }

.sectionCards_card {
  background: #0083b0;
  border: none; }
  .sectionCards_card h5 {
    color: #fff;
    font-size: 3rem;
    text-align: center; }
  .sectionCards_card p {
    font-size: 2rem;
    text-align: center;
    color: #fff; }
  .sectionCards_card .btn {
    margin-left: 6rem;
    margin-right: 6rem;
    display: flex;
    justify-content: center; }
  .sectionCards_card .card__badge {
    background: green;
    font-size: 1.5rem; }

/*Seccion Empleos*/
.container__tablaOfertas h1 {
  text-align: center;
  font-size: 4rem;
  color: #fff; }

.container__tablaOfertas p {
  text-align: center;
  font-size: 2rem;
  color: #fff; }

.container__tabla {
  font-size: 1.7rem;
  color: #fff;
  margin-top: 5rem; }
  .container__tabla thead {
    background: #0083b0; }
  .container__tabla .btn {
    font-size: 1.2rem; }
  .container__tabla .pointer {
    cursor: pointer; }
  .container__tabla .form-check-label {
    font-size: 1.2rem; }

#exampleModal1, #exampleModal2, #exampleModal3 {
  font-size: 1.3rem; }
  #exampleModal1 .form-select, #exampleModal2 .form-select, #exampleModal3 .form-select {
    font-size: 1.2rem; }
  #exampleModal1 .form-control, #exampleModal2 .form-control, #exampleModal3 .form-control {
    font-size: 1.2rem; }

.section__tips {
  margin-top: 6rem; }

.container__tips h2 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem; }

.tips__accordion {
  color: #fff;
  font-size: 2rem;
  background: transparent;
  border: none; }
  .tips__accordion .accordion__body {
    font-size: 1.7rem; }
    .tips__accordion .accordion__body a {
      color: #fff; }
  .tips__accordion .accordion__button {
    font-size: 2rem;
    color: #fff;
    background: #0083b0; }

/*Seccion Empleadores*/
.container_formEmpleador h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
  color: #fff; }

.container_formEmpleador h2 {
  text-align: center;
  font-size: 3rem;
  color: #fff; }

.containerForm__empleador {
  margin-top: 5rem; }
  .containerForm__empleador p {
    font-size: 2rem;
    color: #fff;
    text-decoration: underline; }
  .containerForm__empleador .form-control {
    font-size: 1.5rem; }

.containerForm__labels {
  font-size: 1.5rem;
  color: #fff; }

.form-select {
  font-size: 1.5rem; }

.formEmpleador__checkbox {
  font-size: 1.5rem; }

.containerForm__textArea {
  color: #000; }

.empleadores__Section {
  margin-top: 7rem; }

.empleadores__clearfix p {
  font-size: 2rem;
  color: #fff; }

/*Sección Nosotros*/
.container__titulo h1 {
  text-align: center;
  font-size: 4rem;
  color: #fff; }

.container__titulo p {
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
  color: #fff; }

.container__team h2 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin: 3rem; }

.team__cards--background {
  background-color: #0083b0; }

.team__cards h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem; }

.team__cards p {
  text-align: center;
  color: #fff;
  font-size: 2rem; }

.card__info h5 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center; }

.card__info p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center; }

.container__sectionContacto {
  margin-top: 4rem; }

.container__form {
  color: #fff; }
  .container__form h3 {
    font-size: 3rem;
    margin: 2rem;
    text-align: center; }
  .container__form .form-label, .container__form .form-control {
    font-size: 1.5rem; }

.form__checkbox {
  margin: 1rem;
  font-size: 1.5rem; }

.container__mapa {
  text-align: center;
  color: #fff; }
  .container__mapa h3 {
    font-size: 3rem;
    margin: 2rem;
    text-align: center; }

.mapa__iframe {
  width: 300px;
  height: 250px; }

.container__seccionRedes {
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .container__seccionRedes h4 {
    font-size: 2.5rem; }
  .container__seccionRedes a {
    font-size: 2rem -1; }

.blue-red {
  color: blue;
  height: 3rem; }

.green-red {
  color: green;
  height: 3rem; }

.white-red {
  color: white;
  height: 3rem; }

/*Seccion Blog*/
.container_blogHead {
  text-align: center; }
  .container_blogHead h1 {
    font-size: 4rem;
    color: #fff; }

.container__cardGroup {
  margin-top: 5rem; }
  .container__cardGroup .card {
    background-color: #0083b0;
    text-align: center; }

.cardGroup_card h5 {
  font-size: 3rem;
  color: #fff; }

.cardGroup_card p {
  font-size: 1.5rem;
  color: #fff; }

.cardGroup_card ol {
  text-align: center;
  color: #fff;
  font-size: 1.5rem; }

.cardGroup_card a {
  color: #fff; }

.cardGoup__textoFooter {
  font-size: 2rem -1; }

.enlace__LeerMas {
  font-size: 2rem;
  color: #fff; }

/*Error 404*/
.container__error404 img {
  height: 1000px;
  width: 1000px; }

/*Boton volver arriba*/
.boton__VolverArriba {
  position: fixed;
  margin-bottom: 120px;
  margin-right: 10px;
  bottom: 30px;
  right: 5px;
  width: 40px;
  height: 40px;
  background: #00b4db;
  border: none;
  cursor: pointer;
  transition: all 300ms ease; }
  .boton__VolverArriba i {
    color: #fff;
    font-size: 20px; }

.boton__VolverArriba:hover {
  transform: scale(1.2); }

/*Footer*/
.container__footer img {
  position: absolute;
  left: 0;
  height: 130px;
  width: 130px; }

.container__footer ul {
  list-style-type: none;
  text-align: right;
  font-size: 2rem;
  padding: 2rem; }

.container__footer a {
  color: #fff;
  text-decoration: none; }
